.portalmask {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 9999;
}

.portalopacity {
    width: 100%;
    height: 5500px;
    background: #fafafa;
    filter: alpha(opacity=50);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.portalloading {
    position: fixed;
    left: 53%;
    top: 45%;
    margin-left: -165px;
    font-size: 30px;
}

.fontcenter {
    vertical-align: middle;
    margin-right: 15px;
}

@media (max-width: 767px) {
    .mobile-mode {
        display: none !important;
    }

    .drag-container {
        margin-left: 0px !important;
    }

    .main-content {
        margin-left: 0px !important;
    }
}

.pagetitle {
    font-size: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navbar {
    padding: 8px;
}

.main-page {
    padding-top: 51px;
}

.typelist {
    position: fixed;
    width: 400px;
    height: 90%;
    padding: 10px;
    border-right: 1px solid #999999;
    overflow: auto;
    /*background: #4cae4c;*/
}

.drag-container {
    margin-left: 400px;
}

.col-layout {
    border: 1px solid;
    min-height: 67px;
}

.edit .dragbox {
    margin: 10px;
    padding: 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    overflow: auto;
}

.droppable-active {
    background-color: #CCCCFF !important;
    border: 1px solid #ebebeb
}

.tools a {
    cursor: pointer;
    font-size: 14px !important
}

.ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #e7eaec
}

.drag-component {
    width: auto;
}

#colsplit {
    margin-bottom: 5px;
}

.draglabel {
    background: #999999;
    cursor: move;
}

.btnbar {
    text-align: center;
}

.formbar {
    text-align: right;
}

.hiddentoolbar {
    display: none;
}