.pagetitle {
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
#navbar {
    padding: 8px;
}
.main-page {
    padding-top: 51px;
}
.typelist {
    position: fixed;
    width: 400px;
    height: 100%;
    padding: 10px;
    border-right: 1px solid #999999;
    /*background: #4cae4c;*/
}
.drag-container {
    margin-left: 400px;
}
.col-layout {
    border: 1px solid #e3e3e3;
    min-height: 70px;
    margin-top: 5px;
}
.edit .dragbox {
    margin: 10px;
    padding: 30px 15px 15px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    word-wrap: break-word;
}
.edit .dragbox:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Container";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}